@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<br />
<address>
    Taeyoung Building 3F, 10-2 Yeouido-dong, Yeongdeungpo-gu,<br />
    Seoul 150-777 South Korea <br /><br />
    <i class="fa fa-envelope-o fa-1x"></i>&nbsp;&nbsp;<a href="mailto:dhammi@hanmail.net">dhammi@hanmail.net</a><br />
    <i class="fa fa-linkedin-square fa-1x"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/pub/kim-jinsu/57/206/64">www.linkedin.com/pub/kim-jinsu</a>
</address>