@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    <script type="text/javascript">
        //  Bind the event handler to the "submit" JavaScript event
        $('form').submit(function () {
            // Get the password field.
            var password = $.trim($('#password').val());
            var email = $.trim($('#email').val());

            // Check if empty or not
            if (email === '') {
                alert('Email cannot be empty.');
                return false;
            }

            // Check if empty or not
            if (password === '') {
                alert('Password cannot be empty.');
                return false;
            }
        });
    </script>
}

<div class="jumbotron">    
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title"><b>Experience certainty with JIRA!</b></h2>
                </div>
                <div class="panel-body">
                    <p><h5>JIRA is issue trackting system to develop any application based on agile scrum process.</h5></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>
                <button id="btnLogin" class="btn btn-success">Login</button>
                <button id="btnLogin" class="btn btn-primary">Register</button>
            </p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-10">
            <div class="thumbnail">
                <img src="../../img/scrum.gif" alt="scrum process" />
            </div>
        </div>
    </div>
</div>